<app-header></app-header>
<div class="container">
    <h2 class="mb-3">Настройки аккаунта</h2>
    <div class="container d-flex flex-wrap justify-content-center align-items-center bg-card">
        <div class="card-sm">Изменить адрес</div>
        <div class="card-sm">Изменить пароль</div>
        <div class="card-sm">Двухфакторная авторизация</div>
        <div class="card-sm">Статус подписки</div>
        <div class="card-sm"></div>
        <div class="card-sm">Партнёрская программа</div>
        <div class="card-sm">Предложи улучшение</div>
        <div class="card-sm">Вопросы и ответы</div>
        <div class="card-sm">Поддержка пользователей</div>
    </div>
</div>