<div class="container-fluid d-flex align-items-center bg-main" id="slide1">
    <div class="container d-flex align-items-center bg-card">
        <div style="padding-left: 50px;">
            <h1>ПАРАМЕТР</h1>
            <div class="notation-text">
                Персональная бухгалтерия с продвинутой аналитикой. <br>
                По цене одной шаурмы в месяц. <br>
                У вас в кармане.
            </div>
            <div class="btn btn-primary" routerLink="/auth">
                НАЧАТЬ
            </div>
        </div>
        <div>
            <div class="gliphs">

            </div>
        </div>
    </div>
</div>
<div class="container-fluid d-flex align-items-center bg-main" id="slide2">
    <div class="container d-flex align-items-center flex-column bg-card">
        <div class="mb-5">
            <h2>ПОЧЕМУ МЫ?</h2>
        </div>
        <div class="w-100">
            <div class="elements d-flex w-100 flex-wrap justify-content-around">
                <div class="tile">
                    Данные о ваших финансах надёжно зашифрованы.
                    Даже мы не имеем к ним доступа.
                </div>
                <div class="tile">
                    Интуитивно понятный интерфейс.
                    Разберётся даже ребёнок.
                </div>
                <div class="tile">
                    Персональные рекомендации по планированию бюджета.
                    С глубокой аналитикой и визуализацией данных.
                </div>
                <div class="tile">
                    Самая низкая стоимость подписки среди конкурентов.
                    Экономия должна быть экономной.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid d-flex align-items-center bg-main" id="slide3">
    <div class="container d-flex align-items-center flex-column bg-card">
        <div class="mb-5">
            <h2>КАКИЕ ФУНКЦИИ ЕСТЬ?</h2>
        </div>
        <div class="w-100">
            <div class="elements d-flex w-100 flex-wrap justify-content-around">
                <div class="tile">
                    Контроль доходов и расходов.
                    Формирование сводной статистики за произвольный период.
                </div>
                <div class="tile">
                    Автоматическая сортировка категорий.
                    Для удобство отслеживания денежных потоков.
                </div>
                <div class="tile">
                    
                </div>
                <div class="tile">
                    Персональный советник.
                    Подскажет оптимальные стратегии накопления, 
                    поможет сформировать бюджет на следующий месяц
                    и ещё много чего полезного умеет.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid d-flex align-items-center bg-main" id="slide4">
    <div class="container d-flex align-items-center flex-column bg-card">
        <div class="mb-5">
            <h2>СКОЛЬКО СТОИТ?</h2>
        </div>
        <div class="w-100 mt-4">
            <div class="elements d-flex w-100 flex-wrap justify-content-around">
                <div class="tile price">
                    <div class="subCost">250₽/МЕС</div>
                    <div class="subType">1 МЕСЯЦ</div>
                </div>
                <div class="tile price">
                    <div class="subCost">225₽/МЕС</div>
                    <div class="subType">3 МЕСЯЦА</div>
                </div>
                <div class="tile price">
                    <div class="subCost">200₽/МЕС</div>
                    <div class="subType">6 МЕСЯЦЕВ</div>
                </div>
                <div class="tile price">
                    <div class="subCost">175₽/МЕС</div>
                    <div class="subType">12 МЕСЯЦЕВ</div>
                </div>
                <div class="tile price">
                    <div class="subCost">150₽/МЕС</div>
                    <div class="subType">24 МЕСЯЦА</div>
                </div>
                <div class="tile price">
                    <div class="subCost">5000₽</div>
                    <div class="subType">БЕЗЛИМИТ</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid d-flex align-items-center bg-main" id="slide5">
    <div class="container d-flex align-items-center flex-column bg-card">
        <div class="mb-5">
            <h2>ЕЩЁ ПЛЮСЫ</h2>
        </div>
        <div class="w-100">
            <div class="elements d-flex w-100 flex-wrap justify-content-around">
                <div class="tile">
                    Партнёрская программа
                </div>
                <div class="tile">
                    Импорт данных из табличных бухгалтерий (csv, xls, xlsx)
                </div>
                <div class="tile">
                    Открыты для предложений о развитии нашего сервиса
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid d-flex bg-end" id="slide6">
    <div class="container d-flex flex-column bg-card-end">
        <div class="mb-5 text-center">
            <h2>ОСТАЛИСЬ ВОПРОСЫ?</h2>
            <p>Напишите нам:</p>
        </div>
    </div>
</div>
<div class="tk-blob blob1" style="--time: 50s; --amount: 10; --fill: #7600f8">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 747.2 726.7">
        <path
            d="M539.8 137.6c98.3 69 183.5 124 203 198.4 19.3 74.4-27.1 168.2-93.8 245-66.8 76.8-153.8 136.6-254.2 144.9-100.6 8.2-214.7-35.1-292.7-122.5S-18.1 384.1 7.4 259.8C33 135.6 126.3 19 228.5 2.2c102.1-16.8 213.2 66.3 311.3 135.4z">
        </path>
    </svg>
</div>
<div class="tk-blob blob2" style="--time: 50s; --amount: 10; --fill: #7600f8">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 747.2 726.7">
        <path
            d="M539.8 137.6c98.3 69 183.5 124 203 198.4 19.3 74.4-27.1 168.2-93.8 245-66.8 76.8-153.8 136.6-254.2 144.9-100.6 8.2-214.7-35.1-292.7-122.5S-18.1 384.1 7.4 259.8C33 135.6 126.3 19 228.5 2.2c102.1-16.8 213.2 66.3 311.3 135.4z">
        </path>
    </svg>
</div>